/* mailchimp form */
.mc_embed_signup {
  clear:both;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.mc_embed_signup input{



}
.mc_embed_signup input[type="email"] {
  font-size: 15px;
  height: 54px;
  line-height: 30px;
  padding: 12px 15px;
  border-radius: 3px 0 0 3px;
  background: #727272;
  background: rgba(255, 255, 255, .2);
  width: 50%;
}

.mc_embed_signup input[type="submit"] {
  font-size: 15px;
  line-height: 30px;
  height: 54px;
  padding: 12px 30px;
  margin: 0 0 18px 0;
  border-radius: 0 3px 3px 0;
  background: #197C28;
  background: rgba(25, 124, 40, 1);
  width: 30%;
  position:relative; 
  top:2px;
}
.mc_embed_signup input[type="submit"]:hover {
  background: #146320;
}
@media screen and (max-width:960px) {
  .mc_embed_signup {
    width:75%;
  }
}
@media screen and (max-width:720px) {
  .mc_embed_signup {
    width:100%;
    input[type="submit"] {
      padding: 12px 15px;
    }
  }
}